@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
span {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/*==========================================================
                    Common css end
==========================================================*/
/* ==================================================================
                        Header part start
===================================================================*/
#header {
  padding: 10px 0;
  margin-top: 15px;
  border-top: 1px solid #f1f1f1;
}

#header .header_text {
  color: #F2640C;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

#header .header_text a {
  color: #333;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#header .header_text a:hover {
  color: #71D7F7;
}

/* ==================================================================
                        Header part end
===================================================================*/
/* ==================================================================
                        Logo part start
===================================================================*/
#logo {
  background: #494B64;
  padding: 10px 0;
}

#logo .tag_line {
  color: #70E337;
  font-size: 52px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-left: 75px;
  margin-top: -30px;
}

#logo a {
  margin-left: 25px;
}

/* ==================================================================
                        Logo part end
===================================================================*/
/* ==================================================================
                        Menu part start
===================================================================*/
.main_menu {
  background: #494B64;
}

.main_menu ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 13px 20px;
  line-height: 20px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  position: relative;
  padding: 10px 29px !important;
}

.main_menu ul li a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #70E337;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.main_menu ul li a:hover {
  color: #70E337;
}

.main_menu ul li a:hover:after {
  width: 100%;
}

/* ==================================================================
                        Menu part end
===================================================================*/
/* ==================================================================
                        Breadcrumb part start
===================================================================*/
#breadcrumb {
  padding: 34px 0;
  background: #f5f5f5;
}

#breadcrumb .bread_head h1 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
}

/* ==================================================================
                        Breadcrumb part end
===================================================================*/
/* ==================================================================
                        Home Details part start
===================================================================*/
#home_details .litening_text h3 {
  color: #F2640C;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 20px;
}

#home_details .litening_text p {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

#home_details .litening_text p span {
  padding-top: 20px;
  display: block;
}

#home_details .litening_text ul {
  list-style: disc;
  margin-left: 15px;
  padding: 20px 0;
}

#home_details .litening_text ul li {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

#home_details .aniversary_text h2,
#home_details .service_area h2 {
  color: #F2640C;
  font-size: 47px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1;
  padding: 30px 0;
}

#home_details .aniversary_text p,
#home_details .service_area p {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-align: center;
}

#home_details .aniversary_text p span,
#home_details .service_area p span {
  padding-top: 20px;
  display: block;
}

#home_details .aniversary_text p span a,
#home_details .service_area p span a {
  text-decoration: underline;
}

#home_details .customer_alert {
  background: #494B64;
  text-align: center;
  margin: 35px 0;
}

#home_details .customer_alert p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

#home_details .customer_alert p:first-child {
  padding-bottom: 20px;
  font-weight: 500;
}

#home_details .service_area p {
  font-size: 23px;
  line-height: 1.8;
  text-align: left;
}

#home_details .take_change h2 {
  color: #F2640C;
  font-size: 47px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1;
  padding: 30px 0 22px;
}

#home_details .con_btn {
  text-align: center;
}

#home_details .con_btn a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  padding: 5px 20px;
  background: #24C83B;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#home_details .con_btn a:hover {
  background: #71D7F7;
}

#home_details .social_icon {
  text-align: center;
  padding-top: 24px;
}

#home_details .social_icon a {
  width: 40px;
}

#home_details .social_icon a img {
  width: 100%;
  max-width: 100%;
}

#home_details .home_right a {
  width: 40px;
  margin: 20px 0;
}

#home_details .home_right a img {
  width: 100%;
  max-width: 100%;
}

/* ==================================================================
                        Home Details part end
===================================================================*/
/* ==================================================================
                        Footer part start
===================================================================*/
#footer .foot_top {
  background-color: #222;
  padding: 30px 0;
}

#footer .copy_right {
  background-color: #1B1B1B;
  padding: 15px 0;
  line-height: 1;
}

#footer .copy_right p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#footer .copy_right p a {
  color: #70E337;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#footer .copy_right p a:hover {
  color: #71D7F7;
}

/* ==================================================================
                        Footer part end
===================================================================*/
.light_project_left h1 {
  color: #F2640C;
  font-size: 35px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 35px;
  padding-top: 5px;
}

.light_project_left .light_project_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light_project_left .light_project_slider .slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  border: 0;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
}

.light_project_left .light_project_slider .slick-dots li.slick-active button {
  background: #000;
}

.light_project_left > p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 30px 0 35px;
}

.light_project_left .mono_head h3 {
  color: #D92222;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 15px;
}

.light_project_left .mono_head .mono_box {
  background: #d5d4d4;
}

.light_project_left .mono_head .mono_box h4 {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 10px 0 20px;
}

.light_project_left .mono_head .mono_box ul {
  list-style: disc;
  margin-left: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.light_project_left .mono_head .mono_box p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.light_project_left .mono_head .mono_box p span {
  display: block;
  padding-top: 20px;
}

.light_project_left .project_btm_text {
  padding-top: 40px;
}

.light_project_left .project_btm_text h4 {
  color: #D92222;
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.light_project_left .project_btm_text h5 {
  color: #D92222;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.light_project_left .project_btm_text p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 20px 0;
}

.light_project_left .project_btm_text p span {
  font-weight: 600;
}

.light_project_left .project_btm_text ul {
  padding-left: 20px;
  list-style: disc;
}

.light_project_left .project_btm_text ul li {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.light_project_left .project_btm_text img {
  margin: 0 auto;
  display: block;
}

.light_project_left .project_formula h3 {
  color: #D92222;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.light_project_left .project_formula p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 10px 0;
}

.light_project_left .project_formula p span {
  font-weight: 600;
}

.light_project_left .project_formula h4 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
}

.light_project_left .project_formula ul li {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.light_project_left .project_formula h5 {
  color: #ff0000;
  font-size: 17px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 20px 0;
}

.light_project_left .project_lps h3 {
  color: #D92222;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.light_project_left .project_lps p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 10px 0;
}

.light_project_left .project_lps ol {
  list-style: number;
  margin-left: 20px;
}

.light_project_left .project_lps ol li {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.light_project_left .project_lps ol li b {
  color: #ff0000;
  font-weight: 600;
}

.light_project_left .project_lps ol li ol li {
  list-style: none;
}

.con_btn h2 {
  color: #EA0404;
  font-size: 45px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 20px 0 40px;
}

.projecr_social_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 20px;
}

.projecr_social_con a {
  width: 40px;
  margin-right: 5px;
}

.projecr_social_con a img {
  width: 100%;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.elect_page {
  padding-top: 0 !important;
}

.elect_page p {
  padding-top: 0 !important;
}

/* ==================================================================
                        Conatct page start
===================================================================*/
#contact {
  padding-bottom: 145px;
}

#contact .contact_text h1 {
  color: #23A455;
  font-size: 42px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
}

#contact .contact_text a {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: #23A455;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 1;
  margin: 30px 0 100px;
}

#contact .contact_text a svg {
  width: 32px;
  fill: #fff;
  margin-top: -6px;
}

#contact .location h3,
#contact .our_hour h3,
#contact .contact_us h3,
#contact .follow_us h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}

#contact .location {
  padding-bottom: 107px;
}

#contact .location p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#contact .location h4 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#contact .our_hour p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

#contact .our_hour h4 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#contact .contact_us p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

#contact .contact_us p a {
  display: inline-block;
  font-size: 16px;
}

#contact .contact_us p:nth-child(5) {
  font-size: 16px;
  margin-top: 20px;
}

#contact .contact_us a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  display: block;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#contact .contact_us a:hover {
  color: #13aff0;
}

#contact .follow_us {
  padding-top: 67px;
}

#contact .follow_us .social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .follow_us .social_icon a {
  width: 40px;
  margin-right: 5px;
}

#contact .follow_us .social_icon a img {
  width: 100%;
}

/* ==================================================================
                        Conatct page end
===================================================================*/
/* ==================================================================
                        Franchises page start
===================================================================*/
#franchises .franchises_text p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0 20px;
}

#franchises .franchises_text .con_btn {
  text-align: center;
}

#franchises .franchises_text .con_btn a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 5px 20px;
  background: #24C83B;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* ==================================================================
                        Franchises page end
===================================================================*/
/*# sourceMappingURL=styles.css.map */