@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
span {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/*==========================================================
                    Common css end
==========================================================*/
/* ==================================================================
                        Header part start
===================================================================*/
#header {
  padding: 10px 0;
  margin-top: 15px;
  border-top: 1px solid #f1f1f1;
}

#header .header_text {
  color: #F2640C;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

#header .header_text a {
  color: #333;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#header .header_text a:hover {
  color: #71D7F7;
}

/* ==================================================================
                        Header part end
===================================================================*/
/* ==================================================================
                        Logo part start
===================================================================*/
#logo {
  background: #494B64;
  padding: 10px 0;
}

#logo .tag_line {
  color: #70E337;
  font-size: 52px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-left: 75px;
  margin-top: -30px;
}

/* ==================================================================
                        Logo part end
===================================================================*/
/* ==================================================================
                        Menu part start
===================================================================*/
.main_menu {
  background: #494B64;
}

.main_menu ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 13px 20px;
  line-height: 20px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  position: relative;
  padding: 10px 36px !important;
}

.main_menu ul li a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #70E337;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.main_menu ul li a:hover {
  color: #70E337;
}

.main_menu ul li a:hover:after {
  width: 100%;
}

/* ==================================================================
                        Menu part end
===================================================================*/
/* ==================================================================
                        Breadcrumb part start
===================================================================*/
#breadcrumb {
  padding: 34px 0;
  background: #f5f5f5;
}

#breadcrumb .bread_head h1 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
}

/* ==================================================================
                        Breadcrumb part end
===================================================================*/
/*# sourceMappingURL=styles.css.map */