@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Breadcrumb part start
===================================================================*/
#breadcrumb {
    padding: 34px 0;
    background: #f5f5f5;

    .bread_head {
        h1 {
            @include fs(#333, 24px, 400, $ff2);
            line-height: 1.4em;
        }
    }
}

/* ==================================================================
                        Breadcrumb part end
===================================================================*/