@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Email Form page start
===================================================================*/
#email_form {
    padding: 50px 0;

    .form_inner {
        h1 {
            @include fs(#23A455, 29px, 600, $ff1);
            padding-bottom: 30px;
        }

        .form-floating {
            input {
                border: 0;
                border-bottom: 1px solid #ddd;
                border-radius: 0;
                padding: 0;


                &:focus {
                    box-shadow: 0 0 0 0 transparent;
                }

                margin-bottom: 50px;
            }

            label {
                padding: .75rem 0;
                @include fs(#888888, 18px, 400, $ff1);
            }

            textarea {
                width: 100%;
                height: 150px;
                resize: none;
                border-radius: 0;

                &:focus {
                    box-shadow: 0 0 0 0 transparent;
                }
            }

            .abc {
                top: 10px !important;
                left: 15px !important;
            }

            p{
                font-size: 12px;
                padding-top: 5px;
            }
        }

        .form-select {
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 15px 0;
            margin-bottom: 30px;

            &:focus {
                box-shadow: 0 0 0 0 transparent;
            }
        }

        button {
            @include fs(#fff, 14px, 500, $ff1);
            padding: 10px 25px;
            background: #17A8E3;
            border: 0;
            margin-top: 25px;
            transition: all linear .3s;
            &:hover{
                background: #008FCA;
            }
        }

        .g-recaptcha{
            margin-top: 35px;
        }
    }
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(.85) translateY(-1rem) translateX(.15rem);
    color: #E04562 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

/* ==================================================================
                        Email Form page end
===================================================================*/