@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Franchises page start
===================================================================*/
#franchises {
    .franchises_text {
        p {
            @include fs(#000, 20px, 400, $ff2);
            padding: 10px 0 20px;
        }

        .con_btn {
            text-align: center;

            a {
                @include fs(#fff, 25px, 500, $ff1);
                padding: 5px 20px;
                background: #24C83B;
                border-radius: 5px;
                text-transform: uppercase;
                transition: all linear .3s;
                margin-bottom: 15px;
                margin-top: 15px;

                &:hover {
                    background: $hover2;
                }
            }
        }
    }
}

/* ==================================================================
                        Franchises page end
===================================================================*/