@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Menu part start
===================================================================*/
.main_menu {
    background: #494B64;

    ul {
        li {
            a {
                @include fs(#fff, 14px, 600, $ff1);
                padding: 13px 20px;
                line-height: 20px;
                transition: all linear .3s;
                position: relative;
                padding: 10px 29px !important;

                &:after {
                    @include after_bl(0, 0, 0, 3px, $hover);
                    transition: all linear .3s;
                }

                &:hover {
                    color: $hover;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* ==================================================================
                        Menu part end
===================================================================*/