@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Promise part start
===================================================================*/
#our_promise {
    .promise_img {
        img {
            display: block;
            margin: -30px auto 15px;
        }

        p {
            @include fs(#000, 20px, 400, $ff1);
            line-height: 1.8;
            padding-bottom: 20px;

            a {
                text-decoration: underline;
                color: #0000ff;
            }
        }
    }
}

/* ==================================================================
                        Promise part end
===================================================================*/