@import '../variables/variables';
@import '../mixins/mixins';


/* ==================================================================
                        Q&A page start
===================================================================*/
#quest_and_ans {
    padding: 10px 0;

    .quest_and_ans_text {
        button {
            @include fs(#D92222, 14px, 600, $ff1);
            line-height: 1;
            padding-left: 40px;
            border-bottom: 1px solid #ddd;
            position: relative;
            &:after{
                @include after_tl(50%, 10px, 13px, 3px, #D92222);
                transform: translateY(-50%);
            }
            &.collapsed{
                &:before{
                    @include after_tl(50%, 15px, 3px, 13px, #D92222);
                    transform: translateY(-50%);
                }   
            }

            &:focus {
                box-shadow: 0 0 0 0 transparent !important;
            }
        }

        .accordion-button:not(.collapsed) {
            color: #D92222;
            background-color: #fff;
            box-shadow: inset 0 0 0 transparent;
        }

        p {
            @include fs(#000, 20px, 400, $ff1);
            line-height: 1.8;

            span {
                display: block;
                padding-top: 20px;
            }

        }


        ul {
            li {
                @include fs(#000, 20px, 400, $ff1);
                line-height: 1.8;
            }
        }
    }
}


/* ==================================================================
                        Q&A page end
===================================================================*/